{% extends 'base.html.twig' %}

{% block title %}Čoko Moko | Kontakt{% endblock %}

{% block body %}

{% block navBar %}

{{ include('nav_bar.html.twig') }}

{% endblock %}
    <section class="home-slider owl-carousel">

      <div class="slider-item" style="background-image: url(images/bg_3.jpg);" data-stellar-background-ratio="0.5">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center">

            <div class="col-md-7 col-sm-12 text-center ftco-animate">
            	<h1 class="mb-3 mt-5 bread">Kontaktirajte nas</h1>
	            <p class="breadcrumbs"><span class="mr-2"><a href="{{ url('home') }}">Početna</a></span> <span>Kontakt</span></p>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section contact-section">
      <div class="container mt-5">
        <div class="row block-9">
					<div class="col-md-4 contact-info ftco-animate">
						<div class="row">
							<div class="col-md-12 mb-4">
	              <h2 class="h4">Kontakt informacije</h2>
	            </div>
	            <div class="col-md-12 mb-3">
	              <p><span>Adresa:</span> Masarikova 63,26210,Kovačica</p>
	            </div>
	            <div class="col-md-12 mb-3">
	              <p><span>Broj:</span> <a href="tel://+381 64123 1232">+381 638245 893</a></p>
	            </div>
	            <div class="col-md-12 mb-3">
	              <p><span>Email:</span> <a href="mailto:cokomoko@gmail.com">cokomoko.sb@gmail.com</a></p>
	            </div>
	            <div class="col-md-12 mb-3">
	              <p><span>Vebsajt:</span> <a href="#">kafina.rs</a></p>
	            </div>
						</div>
					</div>
					<div class="col-md-1"></div>
          <div class="col-md-6 ftco-animate">
            {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            <form action="{{ path('contact_handle') }}" method="POST" class="contact-form">
            	<div class="row">
            		<div class="col-md-6">
	                <div class="form-group">
	                  <input type="text" class="form-control" name="full_name" placeholder="Vaše Ime" required>
	                </div>
                </div>
                <div class="col-md-6">
	                <div class="form-group">
	                  <input type="email" class="form-control" name="email" placeholder="Vaš Email" required>
	                </div>
	                </div>
                <div class="col-md-6">
	                <div class="form-group">
	                  <input type="tel" class="form-control" name="phone" placeholder="Vaš Telefon" required>
	                </div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" placeholder="Naslov" required>
              </div>
              <div class="form-group">
                <textarea id="message" cols="30" rows="7" name="message" class="form-control" placeholder="Poruka" required></textarea>
              </div>
              <div class="form-group">
                <input type="submit" name="send" value="Pošalji Poruku" class="btn btn-primary py-3 px-5">
              </div>
            </form> 
          </div>
        </div>
      </div>
    </section>

    <div id="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2815.6941052268216!2d20.621932915545734!3d45.11226857909836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a904dac62c853%3A0x37f724fb650e416f!2zTWFzYXJpa292YSA2Mywg0JrQvtCy0LDRh9C40YbQsA!5e0!3m2!1ssr!2srs!4v1640456492510!5m2!1ssr!2srs"
     width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
{% block footer %}

{{ include('footer.html.twig') }}

{% endblock %}

{% endblock %}