<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        
        {% block stylesheets %}
                <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">  

                <link rel="stylesheet" href="{{asset('css/open-iconic-bootstrap.min.css')}}">
                <link rel="stylesheet" href="{{asset('css/animate.css')}}">
                
                <link rel="stylesheet" href="{{asset('css/owl.carousel.min.css')}}">
                <link rel="stylesheet" href="{{asset('css/owl.theme.default.min.css')}}">
                <link rel="stylesheet" href="{{asset('css/magnific-popup.css')}}">

                <link rel="stylesheet" href="{{asset('css/aos.css')}}">

                <link rel="stylesheet" href="{{asset('css/ionicons.min.css')}}">

                <link rel="stylesheet" href="{{asset('css/bootstrap-datepicker.css')}}">
                <link rel="stylesheet" href="{{asset('css/jquery.timepicker.css')}}">

                <link rel="stylesheet" href="{{asset('css/flaticon.css')}}">
                <link rel="stylesheet" href="{{asset('css/icomoon.css')}}">
                <link rel="stylesheet" href="{{asset('css/style.css')}}">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
