<div id="fb-root"></div>

<script async defer crossorigin="anonymous" 
src="https://connect.facebook.net/sr_RS/sdk.js#xfbml=1&version=v12.0&appId=1942557109307736&autoLogAppEvents=1" 
nonce="4vn3qBVX">
</script>

<footer class="ftco-footer ftco-section img">
    	<div class="overlay"></div>
      <div class="container">
        <div class="row mb-5">

          <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Imate pitanje?</h2>
            	<div class="block-10 mb-3">
	              <ul class="list-unstyled">
	                <li><span class="icon icon-map-marker"></span><span class="text"> Masarikova 63,26210,Kovačica,Srbija</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text"> +381 638245 893</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text"> cokomoko.sb@gmail.com</span></a></li>
	              </ul>
	            </div>
               <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
            <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Informacije</h2>
              <ul class="list-unstyled">
                <li><a href="{{url('contact')}}" class="py-2 d-block">Kontakt</a></li>
                <li><a href="{{url('home')}}" class="py-2 d-block">Početna</a></li>
                <li><a href="{{url('articles')}}" class="py-2 d-block">Proizvodi</a></li>
                <li><a href="{{url('about_us')}}" class="py-2 d-block">O nama</a></li>
                <li><a href="#" class="py-2 d-block">Korpa</a></li>
              </ul>
          </div>
          </div>

          <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Facebook</h2>
              <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-width="" data-height="120" 
              data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
              <blockquote cite="https://www.facebook.com/facebook"
              class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a>
              </blockquote></div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-5 mb-md-5">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Instagram</h2>
              <div class="block-21 mb-4 d-flex">
              <a class="btn btn-primary p-3 px-xl-4 py-xl-3" style="color:white;" href="https://www.instagram.com/cokomoko_sb/">Zapratite nas na instagramu <i class="icon icon-instagram"></i></a>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <p>Copyright DM &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved </p>
          </div>
        </div>
      </div>
    </footer>
	
  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
  <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
  <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/>
  </svg></div>

  {% block javascripts %}
    <script src="{{asset('js/jquery.min.js')}}"></script>
    <script src="{{asset('js/jquery-migrate-3.0.1.min.js')}}"></script>
    <script src="{{asset('js/popper.min.js')}}"></script>
    <script src="{{asset('js/bootstrap.min.js')}}"></script>
    <script src="{{asset('js/jquery.easing.1.3.js')}}"></script>
    <script src="{{asset('js/jquery.waypoints.min.js')}}"></script>
    <script src="{{asset('js/jquery.stellar.min.js')}}"></script>
    <script src="{{asset('js/owl.carousel.min.js')}}"></script>
    <script src="{{asset('js/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{asset('js/aos.js')}}"></script>
    <script src="{{asset('js/jquery.animateNumber.min.js')}}"></script>
    <script src="{{asset('js/bootstrap-datepicker.js')}}"></script>
    <script src="{{asset('js/jquery.timepicker.min.js')}}"></script>
    <script src="{{asset('js/scrollax.min.js')}}"></script>
    <script src="{{asset('js/main.js')}}"></script>
  {% endblock %}